<div class="container">

<br>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Add Course
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add Your Course</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                          <label for="recipient-name" class="col-form-label">Course Name </label>
                          <input type="text" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group">
                          <label for="message-text" class="col-form-label">Course Description:</label>
                          <textarea class="form-control" id="message-text"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Shop</label>
                            <div class="select">
                                <select name="slct" id="slct">
                                    <option selected disabled>--------------------  Select --------------------</option>
                                    <option value="1">Lotteria</option>
                                    <option value="2">KFC </option>
                                    <option value="3">Pizza Hut</option>
                                </select>
                            </div>
                          </div>
                      </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <h1></h1>

    <div class="row">
        <div class="col-md-5 col-xs-6 ">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">KFC Food</h4>

                </div>
                <div class="card-body">
                    <p>Shop : KFC Restaurant</p>
                    <p>Phone : 19009191</p>
                    <p>Description : Hello Word</p>
                    <p>CreatedDate : 2020-14-09</p>
                    <hr>

                    <div class="select">
                        <select name="slct" id="slct">
                            <option selected disabled>Opening</option>
                            <option value="1">End Order</option>
                            <option value="2">Delivered </option>
                            <option value="3">End of Payment</option>
                        </select>
                    </div>
                    <hr>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">
                        <a routerLink = "/course">Details</a>
                    </button>

                </div>
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Looteria Food</h4>

                    </div>

                    <div class="card-body">
                        <p>Shop : Lotteria Restaurant</p>
                        <p>Phone : 19006600</p>
                        <p>Description : Hello Word</p>
                        <p>CreatedDate : 2020-14-09</p>
                        <hr>
                        <div class="select">
                            <select name="slct" id="slct">
                                <option selected disabled>Opening</option>
                                <option value="1">End Order</option>
                                <option value="2">Delivered </option>
                                <option value="3">End of Payment</option>
                            </select>
                        </div>
                        <hr>

                        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Details</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>